.box-green {
	width: $width-box-green;
	padding: 20px 20px;
	background: $color-green-light;  	
	color: white;
	h3 {
		text-transform:  uppercase;
	}

	h4 {
		text-transform:  uppercase;
	}

	span { 
		display: block;
	}
}


.box-green-basic {
	text-align: left;
}

.box-green-info {
	text-align: center;

	strong {
		display: block;
		font-weight: normal;
	}


	i{
		font-style: normal;
	}

	.box-green-info-block { 

		margin-top: 10px;

		.box-green-info-item {
			width: 200px;
			text-align: left;
			float: right;
		}
	}
}

.divider-dotted-white {
	&:last-of-type {
		margin-top: 10px;
	}
}
