.box-grey {
	width: $width-box-grey;
	background: $color-grey-light;  	
	color: white;
	text-align: center;
	padding: 30px 30px;
	h3 {
		text-transform:  uppercase;
	}

	h4 {
		text-transform:  uppercase;
	}

	span { 
		display: block;
	}
}

.box-grey-news {
	.news-span {
		margin-bottom: 20px;
		&:first-of-type {
			margin-top: 20px;
		}
	}
}

.box-grey-shop {
	padding: 70px 20px;
	position: relative;
	img {
		width: 70px;
	}

}