footer {
	border-top: 4px dotted $color-grey-dark;
	text-align: center;
	ul {
		list-style: none;
		li {
			display: inline;
			&:first-of-type {
				padding-right: 18px;
				margin-right: 10px;
				border-right: 1px solid black;
			}

			a {
				color: $color-grey-dark;
			}
		}
	}
}