header {
	width: 100%;
	height: 200px;
	padding-top: 80px;
	max-width: 1280px;
	z-index:100;
	position: fixed;
	background-image: url('../images/header_background.png');
	background-repeat: no-repeat;
	background-size: 100%;

	.logo {
		display: block;
		position: absolute;
		left: 478px;
	}
}

header.sticky {
	height: 100px;
	.logo {
		display: none;
		animation: fadeOut 1s;
	}
}

nav {
	li {
		margin-left: 30px;
		float: left;
		color: $color-green-dark;
		text-transform: uppercase;
		&:hover{
			border-bottom: 3px solid $color-green-dark;
			padding-bottom: 5px;
		}
	}
}	