@import 'helpers/variables';

body {
  font-family: 'Arimo', sans-serif;
  margin: 0px;
  padding: 0px;

} 

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input,button:focus {
    outline:none;
}


.clearfix {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.wrapper { 
	max-width: $max-width-wrapper;
	margin: 0 auto;
	border: 1px solid red;
  z-index: 200;
  background: url('../images/background_pattern.png');
}

.text-center {
	text-align: center;
}

h2 {
  font-size: $font-h2;
}

h3 {
  font-size: $font-h3;
}

h4 {
  font-size: $font-h4;
}

h5 {
  font-size: $font-h5;
}

p {
  font-size: $font-p;
}

span {
  font-size: $font-span;
}

.rotate-left {
    -ms-transform: rotate($rotation-left); /* IE 9 */
     -webkit-transform: rotate($rotation-left); /* Chrome, Safari, Opera */
     transform: rotate($rotation-left);
}

.rotate-right {
    -ms-transform: rotate($rotation-right); /* IE 9 */
     -webkit-transform: rotate($rotation-right); /* Chrome, Safari, Opera */
     transform: rotate($rotation-right);
}

.shadow-left {
  -webkit-box-shadow: -7px 7px 5px 0px rgba(0,0,0,65/100);
  -moz-box-shadow: -7px 7px 5px 0px rgba(0,0,0,65/100);
  box-shadow: -7px 7px 5px 0px rgba(0,0,0,65/100);
}

.shadow-right {
  -webkit-box-shadow: 5px 7px 5px 0px rgba(0,0,0,65/100);
  -moz-box-shadow: 5px 7px 5px 0px rgba(0,0,0,65/100);
  box-shadow: 5px 7px 5px 0px rgba(0,0,0,65/100);
}


