/* ################################################################################### */
/* ### defining variables ############################################################ */
/* ################################################################################### */
body {
  font-family: 'Arimo', sans-serif;
  margin: 0px;
  padding: 0px; }

li {
  list-style: none; }

a {
  text-decoration: none; }

input, button:focus {
  outline: none; }

.clearfix {
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  border: 1px solid red;
  z-index: 200;
  background: url("../images/background_pattern.png"); }

.text-center {
  text-align: center; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 26px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 16px; }

p {
  font-size: 16px; }

span {
  font-size: 14px; }

.rotate-left {
  -ms-transform: rotate(-3deg);
  /* IE 9 */
  -webkit-transform: rotate(-3deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-3deg); }

.rotate-right {
  -ms-transform: rotate(3deg);
  /* IE 9 */
  -webkit-transform: rotate(3deg);
  /* Chrome, Safari, Opera */
  transform: rotate(3deg); }

.shadow-left {
  -webkit-box-shadow: -7px 7px 5px 0px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: -7px 7px 5px 0px rgba(0, 0, 0, 0.65);
  box-shadow: -7px 7px 5px 0px rgba(0, 0, 0, 0.65); }

.shadow-right {
  -webkit-box-shadow: 5px 7px 5px 0px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 5px 7px 5px 0px rgba(0, 0, 0, 0.65);
  box-shadow: 5px 7px 5px 0px rgba(0, 0, 0, 0.65); }

/* ################################################################################### */
/* ### defining variables ############################################################ */
/* ################################################################################### */
.help-padding-row {
  padding: 50px 100px;
  margin-top: 250px; }

.divider-dotted-white {
  width: auto;
  border-bottom: 2px dotted white; }

.divider-dotted-black {
  width: 100%;
  border-bottom: 4px dotted black;
  position: absolute;
  left: 0px;
  top: 45%; }

/*@import 'components/buttons';
@import 'components/subnavi';

@import 'modules/module_picturewithtext';
@import 'modules/module_tabulator';
@import 'modules/module_underlinedlist';
@import 'modules/module_video';
*/
header {
  width: 100%;
  height: 200px;
  padding-top: 80px;
  max-width: 1280px;
  z-index: 100;
  position: fixed;
  background-image: url("../images/header_background.png");
  background-repeat: no-repeat;
  background-size: 100%; }
  header .logo {
    display: block;
    position: absolute;
    left: 478px; }

header.sticky {
  height: 100px; }
  header.sticky .logo {
    display: none;
    animation: fadeOut 1s; }

nav li {
  margin-left: 30px;
  float: left;
  color: #2a9555;
  text-transform: uppercase; }
  nav li:hover {
    border-bottom: 3px solid #2a9555;
    padding-bottom: 5px; }

.box-grey {
  width: 210px;
  background: #a4aab2;
  color: white;
  text-align: center;
  padding: 30px 30px; }
  .box-grey h3 {
    text-transform: uppercase; }
  .box-grey h4 {
    text-transform: uppercase; }
  .box-grey span {
    display: block; }

.box-grey-news .news-span {
  margin-bottom: 20px; }
  .box-grey-news .news-span:first-of-type {
    margin-top: 20px; }

.box-grey-shop {
  padding: 70px 20px;
  position: relative; }
  .box-grey-shop img {
    width: 70px; }

.box-green {
  width: 350px;
  padding: 20px 20px;
  background: #a4c6a7;
  color: white; }
  .box-green h3 {
    text-transform: uppercase; }
  .box-green h4 {
    text-transform: uppercase; }
  .box-green span {
    display: block; }

.box-green-basic {
  text-align: left; }

.box-green-info {
  text-align: center; }
  .box-green-info strong {
    display: block;
    font-weight: normal; }
  .box-green-info i {
    font-style: normal; }
  .box-green-info .box-green-info-block {
    margin-top: 10px; }
    .box-green-info .box-green-info-block .box-green-info-item {
      width: 200px;
      text-align: left;
      float: right; }

.divider-dotted-white:last-of-type {
  margin-top: 10px; }

.main-textblock {
  color: #2a9555;
  width: 400px;
  text-align: center; }

footer {
  border-top: 4px dotted #797b82;
  text-align: center; }
  footer ul {
    list-style: none; }
    footer ul li {
      display: inline; }
      footer ul li:first-of-type {
        padding-right: 18px;
        margin-right: 10px;
        border-right: 1px solid black; }
      footer ul li a {
        color: #797b82; }
