/* ################################################################################### */
/* ### defining variables ############################################################ */
/* ################################################################################### */

// main colors
$color-green-dark: #2a9555;
$color-green-light: #a4c6a7;
$color-grey-light: #a4aab2;
$color-grey-dark: #797b82;

// font-sizes
$font-h1: 36px;
$font-h2: 32px;
$font-h3: 26px;
$font-h4: 20px;
$font-h5: 16px;
$font-p: 16px;
$font-span: 14px;
$font-link: 14px;
$font-button: 18px;
$font-button-mobile: 14px;

$font-h1-tablet: 36px;
$font-h2-tablet: 36px;
$font-h3-tablet: 16px;
$font-h4-tablet: 24px;
$font-h5-tablet: 16px;
$font-p-tablet: 16px;

$font-h1-mobile: 34px;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;


// heights
$height-button: 50px;

// widhts
$max-width-wrapper: 1280px;
$width-main-textblock: 400px;
$width-box-grey: 210px;
$width-box-green: 350px;


//rotation
$rotation-left: -3deg;
$rotation-right: 3deg;
